includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 4

